
.af-artcard {
    width: 100%;
    min-height: 100px;
    border: 1px solid #f0f0f0;
    border-radius: 0px;
    overflow: hidden;
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.1);
}

.af-artcard-carousel {
    max-width: 50%;
    flex-shrink: 1;
}

/* vertical on mobile */
@media (max-width: 450px) {
    .af-artcard {
        flex-direction: column;
    }

    .af-artcard-carousel {
        max-width: 100%;
        flex-shrink: 1;
    }
}

.af-artcard-body {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    min-width: 60%;
    flex-shrink: 0.5;
}

.af-artcard-body hr {
    padding: 0 0;
}


.af-artcard-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.af-artcard-title-owner {
    margin-bottom: 0.8em;
    font-weight: 300;
}

.af-artcard-title {
    padding-right: 1em;
    font-weight: 300;
}

.af-artcard-categories {
    margin-bottom: 0.8em;
}

.badge {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.af-artcard-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.af-artcard-actions {
    margin-top: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    width: 100%;
}

.af-artcard-action {
    white-space: nowrap;
    margin-bottom: 2px;
}

.af-artcard-action.view-full {
    font-size: 0.9em;
    font-weight: 300;
}

.af-artcard-action:hover {
    text-decoration: none;
}


.af-artcard-actions-divider {
    width: 1.8em;
    height: 1em;
}

.af-artcard-desc {
    width: 100%;
}

.af-artcard-desc p {
    width: 100%;
    margin-bottom: 0;
}

