
.af-ai-carousel {
    margin-top: 1.4rem;
}

.af-ai-info {
    padding: 0 1em;
}

.af-ai-title {
    margin-top: 1em;
    margin-bottom: 0.2em;
    font-size: 1.75rem;
}

.af-ai-title {
    font-weight: 100;
}

.af-ai-owner {
    margin-left: 0.1em;
}

.af-ai-row {
    padding-top: 2em;
    padding-bottom: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.af-ai-vis {
    opacity: 0.6;
    display: flex;
    align-items: center;
}

.af-cancel-btn {
    margin-right: 0.5rem;
}

.af-ai-categories {
    margin-top: 0.6em;
    margin-left: -0.2em;
}

.af-ai-badge {
    margin-top: 0.5rem;
}

.af-ai-desc {
    margin-top: 1em;

}

