
.af-artcard {
    width: 100%;
    min-height: 100px;
    border: 1px solid #f0f0f0;
    border-radius: 0px;
    overflow: hidden;
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.1);
}

.af-artcard-carousel-fade {
    box-shadow: 0 .55rem .85rem rgba(0, 0, 0, .85) inset;
}

.af-artcard-image {
    display: block;
    width: 100%;
    height: auto;
}

.af-artcard-body {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
}

.af-artcard-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.af-artcard-title-owner {
    margin-top: 0.6em;
    margin-bottom: 0.8em;
}

.af-artcard-title {
    padding-right: 1em;
    font-weight: bold;
}

.af-artcard-owner {
    padding-right: 1em;
}

.af-artcard-categories {
    margin-bottom: 0.8em;
}

.badge {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.af-artcard-actions {
    display: column;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.af-artcard-meta {
    margin: 6px 6px 6px 0px;
}

.af-artcard-action {
    white-space: nowrap;
    margin-bottom: 4px 4px 4px 0px;
}

.af-artcard-action:hover {
    text-decoration: none;
}


.af-artcard-actions-divider {
    width: 1.8em;
    height: 1em;
}

.af-artcard-desc {
    width: 100%;
    padding-bottom: 1.2em;
}

.af-artcard-desc p {
    width: 100%;
    margin-bottom: 0;
    padding-top: 0.4em;
}
