
.af-myart {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.af-myart-scroller {
    height: 100%;
    max-width: 40%;
}

.af-myart-noarts {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.card {
    border: none;
}

