
.af-lp-background {
    /* Keep background centered. */
    background-position: center;
    /* Background is anchored at the top of the page, not relative */
    /* to container div. */
    position: fixed;
    /* Background is not affected by zooming, and will scale  */
    /* to cover the screen at any size, *but* will also preserve */
    /* aspect ratio. */
    background-size: cover;
    /* Background fills entire page. */
    height: 100%;
    width: 100%;
}

.af-billboard {
    width: 60%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.af-billboard-text {
    text-align: center;
    color: #dddddd;
}

