
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.af-layout-top {
    /* Oh god that colour (from the logo) is so ugly. */
    /*background-color: #464d5d;*/
    color: #ffffff;
}

.box-shadow {
  box-shadow: 0 .15rem .85rem rgba(0, 0, 0, .25);
}

.navbar {
    /* Render the navbar on top of everything else. */
    z-index: 1;
}

