
a.navbar-brand {
white-space: normal;
text-align: center;
word-break: break-all;
}

/* i think this makes the whole page font bigger? */
/* html {
font-size: 20px;
}
@media (min-width: 768px) {
html {
    font-size: 16px;
}
} */

.navbar-nav .nav-link {
    font-weight: bold;
    font-size: 20px;
}

.nav-link:hover {
color: rgba(0, 0, 0, 0.7);
fill: rgba(0, 0, 0, 0.7);
}

.af-active-nav-link {
    color: #F2DCD0 !important;
    fill: #F2DCD0 !important;
}

.af-inactive-nav-link {
color: rgba(0, 0, 0, 0.5);
fill: rgba(0, 0, 0, 0.5);
}

.af-login-signup-nav-link {
    color: #89624B !important;
    fill: #89624B !important;
}

.af-navmenu {
    /* Render above everything else. */
    z-index: 32;
    position: fixed;
    width: 100%;
    /*background-image: linear-gradient(to top right, #947562, white);*/
    background-color: #ccad9b;
}

.af-navmenu-placeholder {
    /* XXX this needs to be kept in sync with whatever the navmenu's height
        is. */
    height: 4rem;
}

.box-shadow {
    box-shadow: 0 .15rem .85rem rgba(0, 0, 0, .35);
    /* Render above everything else. */
    z-index: 32;
}

.af-navmenu-brand {
    height: 2.4rem;
    width: 2.4rem;
    padding-bottom: 0.2rem;
    flex-grow: 0;
}

.navbar-brand {
    display: flex;
    font-weight: bold;
    align-items: center;
}

.navbar-expand-sm .container {
    justify-content: space-between;
    align-items: center;
}

.container > .d-sm-inline-flex {
    flex-grow: 0;
}


