

.af-profile-info {
    padding-top: 1.2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.af-profile-name {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.af-profile-badges {
    display: flex;
    justify-content: center;
    padding-top: 0.2em;
}

.af-profile-art-badge {
    background-color: rgb(97, 64, 44) !important;
}




.af-profile-scroller {
    height: 100%;
}

.af-profile-scroller-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.af-profile-scroller h3 {
    font-weight: bold;
    text-align: center;
}

.bs-stepper-content {
    padding: 20px;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.af-profile-addbutton {
    width: 10px;
    height: 10px;
    border-radius: 50%;

    /* margin-top: 0.5em;
    
    padding: 20px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%; */
}

