
.af-imgcar-image {
    width: 100%;
    height: auto;
    image-orientation: from-image;
    margin: auto;
    transition: width 0.2s ease-in-out;
}

.carousel-item {
    transition: transform 0.3s ease-in-out;
}

