.af-lp-actions {
    display: flex;
    justify-content: space-around;

    margin-top: 10%;
}

.af-lp-action-outer {
    margin: 5%;
    text-align: center;
}

.af-lp-action {
    margin: 5%;
}

.af-lp-action-card {
    margin-left: 10%;
    margin-right: 10%;

    border-radius: 3%;
    background: #F2DCD0;
}

.af-billboard-header {
    margin-top: 10%;
}

.af-lp-background {
    /* Keep background centered. */
    background-position: center;
    /* Background is anchored at the top of the page, not relative */
    /* to container div. */
    position: fixed;
    /* Background is not affected by zooming, and will scale  */
    /* to cover the screen at any size, *but* will also preserve */
    /* aspect ratio. */
    background-size: cover;
    /* Background fills entire page. */
    height: 100%;
    width: 100%;
}

.af-lp-vignette {
    background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
}

.af-billboard {
    width: 60%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.af-billboard-text {
    text-align: center;
}

.af-billboard-action-text {
    color: #727272;
}

.af-billboard-header-text {
    font-size: 1.8rem;
    color: #dddddd;
}

@media (min-width: 400px) {
    .af-billboard-header-text {
        font-size: 2.5rem;
    }
}

