

.af-billboard {
    height: 100%;
    margin: auto;
    max-width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lp-background {
    /* Keep background centered. */
    background-position: center;
    /* Background is not affected by zooming, and will scale  */
    /* to cover the screen at any size, *but* will also preserve */
    /* aspect ratio. */
    background-size: cover;
    /* Background fills entire page. */
    width: 100%;
    height: 100%;
}


.lp-vignette {
    background-image: radial-gradient(
        closest-side,
        rgba(0, 0, 0, 0.50),
        rgba(0, 0, 0, 0.40),
        rgba(0, 0, 0, 0.30),
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.00)
    );
}


.lp-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    max-width: 960px;
}

.lp-copy {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lp-copy h1 {
    color: #eee;
    text-align: center;
    margin-top: 0.6em;
}

.lp-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 3rem 0;
    margin-top: 1rem;
    height: 100%;
}

.lp-action {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lp-action-bg {
    background-color: #6665;
    height: auto;
    border-radius: 50%;
    margin: 0 3%;
    box-shadow: 2px 2px .4rem rgba(0, 0, 0, .25);
    max-width: 350px;
}


.lp-action-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.lp-action-bg-image {
    opacity: 0;
    width: 100%;
    height: auto;
}

.lp-action h4 {
    color: #fff;
    text-align: center;
    font-weight: 400;
    width: 100%;
    font-size: 1.2em;
}

.lp-action-image {
    width: 40vh;
    max-width: 50%;
    margin: 1.5em 0;
    z-index: 0;
}

.lp-action-btn {
    font-size: 0.9em;
    box-shadow: 2px 2px .4rem rgba(0, 0, 0, .25);
}

.lp-action-link {
    z-index: 10;
}

@media (max-width: 576px) {

    .lp-copy {
        display: none;
    }

    .lp-actions {
        flex-direction: column;
        margin: 0 17%;
    }

    .lp-action {
        width: 100%;
        margin: 0.2rem 0;
        height: 50%;
    }

    .lp-action-bg {
        max-width: 240px;
    }

    .lp-action-image {
        margin: 0.5em 0;
    }

    .lp-action h4 {
        font-size: 1em;
    }

    .lp-action-btn {
        font-size: 0.7em;
    }

}

@media (max-width: 768px) {
    .lp-container {
        width: 100%;
    }
}

