.af-lp-actions {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}

@media (max-width: 1000px) {
    .af-lp-actions {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: start;

        width: 90vw;
        height: 80vh;
        margin-top: 3%;
    }

    .af-lp-action-card-new {
    }

    .af-billboard {
        width: 90% !important;
    }

    .af-action-card-new {
        width: 30vh !important;
        height: 30vh !important;
        /* margin-bottom: 5vh !important; */
    }
}

.af-lp-action-outer {
    margin: 5%;
    text-align: center;
}

.af-lp-action {
    margin: 5%;
}

.af-lp-action-card {
    border-radius: 50%;
    background: #F2DCD0;
}

.af-lp-action-button-div {
    width: 75%;
}

.af-lp-action-button {
    width: 100%;
}

.af-billboard-header {
    margin-top: 14%;
}

.af-lp-background {
    /* Keep background centered. */
    background-position: center;
    /* Background is anchored at the top of the page, not relative */
    /* to container div. */
    position: fixed;
    /* Background is not affected by zooming, and will scale  */
    /* to cover the screen at any size, *but* will also preserve */
    /* aspect ratio. */
    background-size: cover;
    /* Background fills entire page. */
    height: 100%;
    width: 100%;
}

.af-lp-vignette {
    background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
}

.af-billboard {
    width: 60%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.af-billboard-text {
    text-align: center;
}

.af-lp-action-title {
    color: #1a1919;
    font-weight: 200;
}

.af-lp-action-button-text {
    font-size: 1.2rem;
    font-weight: 400;
}

.af-billboard-header-text {
    font-size: 1.8rem;
    color: #dddddd;
}

.af-lp-action-card-header-vert {
    display: flex;
    justify-content: space-between;

    padding-left: 20%;
    padding-top: 7%;
    padding-right: 3%;
}

.af-lp-action-card-header-horiz {
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 7%;
}

.af-lp-action-card-header-vert-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.af-billboard-vert-text {
    width: 40%;
    text-align: left;
    vertical-align: center !important;
}

.af-lp-action-img {
    height: 18vh;
}

@media (min-width: 400px) {
    .af-billboard-header-text {
        font-size: 2.5rem;
    }
}

.af-lp-action-card-long {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.af-action-card-new {
    width: 20vw;
    height: 20vw;

    /* padding-bottom: 3vw; */

    text-justify: center;
    border-radius: 50%;
    background: radial-gradient(
        circle, 
        rgb(242, 220, 208) 0%, 
        rgba(242, 220, 208, 0.575) 70%,
        rgba(242, 220, 208, 0) 80%);
        /* rgba(242, 220, 208, 0) 80% */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.af-lp-action-text {
    text-align: center;
}

.af-lp-action-text-outer {
    display: flex;
    justify-content: center;
}

