
.af-ov-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.af-ov-static {
    height: 100vh;
    flex-grow: 1;
}

.af-ov-scroll {
    position: relative;
}

.af-ov-navbar-placeholder {
    /* XXX: this must be kept up-to-date with navbar height. */
    height: 3.625rem;
}

